<!DOCTYPE html>

<html lang='es'>

<head>
    <link rel='stylesheet' href='/styles.css' />
</head>

<body>
<header>
    <h1 id='title'>{{title}}</h1>
    <h2 id='subtitle'>{{subtitle}}</h2>
</header>

<main>
    <figure>
        <img src='{{image}}' alt='{{alt}}' />
        <figcaption id='caption'>{{caption}}</figcaption>
    </figure>
</main>

<footer>
    <address id='address'>{{address}}</address>
</footer>

</body>
</html>